@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f1e46;
  --foreground: #07090d;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  padding: 24px;
  display: flex;
  height: 100vh;
  overflow: hidden;
}
